// trv-black
//
// Markup:
// <p class="trv-black">trv-black</p>
//
// Styleguide objects.trv-black

.trv-black {
    background-color: $black;
}

// trv-white
//
// Markup:
// <p class="trv-white">trv-white</p>
//
// Styleguide objects.trv-white

.trv-white {
    background-color: $white;
}

// trv-maincolor-01
//
// Markup:
// <p class="trv-maincolor-01">trv-maincolor-01</p>
//
// Styleguide objects.trv-maincolor-01

.trv-maincolor-01 {
    background-color: $trv-maincolor-01;
}

// trv-maincolor-02
//
// Markup:
// <p class="trv-maincolor-02">trv-maincolor-02</p>
//
// Styleguide objects.trv-maincolor-02

.trv-maincolor-02 {
    background-color: $trv-maincolor-02;
}

// trv-maincolor-03
//
// Markup:
// <p class="trv-maincolor-03">trv-maincolor-03</p>
//
// Styleguide objects.trv-maincolor-03

.trv-maincolor-03 {
    background-color: $trv-maincolor-03;
}

// trv-maincolor-04
//
// Markup:
// <p class="trv-maincolor-04">trv-maincolor-04</p>
//
// Styleguide objects.trv-maincolor-04

.trv-maincolor-04 {
    background-color: $trv-maincolor-04;
}

// trv-maincolor-05
//
// Markup:
// <p class="trv-maincolor-05">trv-maincolor-05</p>
//
// Styleguide objects.trv-maincolor-05

.trv-maincolor-05 {
    background-color: $trv-maincolor-05;
}

// trv-maincolor-01-light
//
// Markup:
// <p class="trv-maincolor-01-light">trv-maincolor-01-light</p>
//
// Styleguide objects.trv-maincolor-01-light

.trv-maincolor-01-light {
    background-color: $trv-maincolor-01-light;
}

// trv-maincolor-01-lighter
//
// Markup:
// <p class="trv-maincolor-01-lighter">trv-maincolor-01-lighter</p>
//
// Styleguide objects.trv-maincolor-01-lighter

.trv-maincolor-01-lighter {
    background-color: $trv-maincolor-01-lighter;
}

// trv-maincolor-01-light
//
// Markup:
// <p class="trv-maincolor-01-light">trv-maincolor-01-light</p>
//
// Styleguide objects.trv-maincolor-01-light

.trv-maincolor-01-very-light {
    background-color: $trv-maincolor-01-very-light;
}

// trv-maincolor-01-lightest
//
// Markup:
// <p class="trv-maincolor-01-lightest">trv-maincolor-01-lightest</p>
//
// Styleguide objects.trv-maincolor-01-lightest

.trv-maincolor-01-lightest {
    background-color: $trv-maincolor-01-lightest;
}

// trv-maincolor-02-light
//
// Markup:
// <p class="trv-maincolor-02-light">trv-maincolor-02-light</p>
//
// Styleguide objects.trv-maincolor-02-light

.trv-maincolor-02-light {
    background-color: $trv-maincolor-02-light;
}

// trv-maincolor-02-lighter
//
// Markup:
// <p class="trv-maincolor-02-lighter">trv-maincolor-02-lighter</p>
//
// Styleguide objects.trv-maincolor-02-lighter

.trv-maincolor-02-lighter {
    background-color: $trv-maincolor-02-lighter;
}

// trv-maincolor-02-very-light
//
// Markup:
// <p class="trv-maincolor-02-very-light">trv-maincolor-02-very-light</p>
//
// Styleguide objects.trv-maincolor-02-very-light

.trv-maincolor-02-very-light {
    background-color: $trv-maincolor-02-very-light;
}

// trv-maincolor-02-lightest
//
// Markup:
// <p class="trv-maincolor-02-lightest">trv-maincolor-02-lightest</p>
//
// Styleguide objects.trv-maincolor-02-lightest

.trv-maincolor-02-lightest {
    background-color: $trv-maincolor-02-lightest;
}

// trv-maincolor-03-light
//
// Markup:
// <p class="trv-maincolor-03-light">trv-maincolor-03-light</p>
//
// Styleguide objects.trv-maincolor-03-light

.trv-maincolor-03-light {
    background-color: $trv-maincolor-03-light;
}

// trv-maincolor-03-lighter
//
// Markup:
// <p class="trv-maincolor-03-lighter">trv-maincolor-03-lighter</p>
//
// Styleguide objects.trv-maincolor-03-lighter

.trv-maincolor-03-lighter {
    background-color: $trv-maincolor-03-lighter;
}

// trv-maincolor-03-very-light
//
// Markup:
// <p class="trv-maincolor-03-very-light">trv-maincolor-03-very-light</p>
//
// Styleguide objects.trv-maincolor-03-very-light

.trv-maincolor-03-very-light {
    background-color: $trv-maincolor-03-very-light;
}

// trv-maincolor-03-lightest
//
// Markup:
// <p class="trv-maincolor-03-lightest">trv-maincolor-03-lightest</p>
//
// Styleguide objects.trv-maincolor-03-lightest

.trv-maincolor-03-lightest {
    background-color: $trv-maincolor-03-lightest;
}

// trv-maincolor-04-light
//
// Markup:
// <p class="trv-maincolor-04-light">trv-maincolor-04-light</p>
//
// Styleguide objects.trv-maincolor-04-light

.trv-maincolor-04-light {
    background-color: $trv-maincolor-04-light;
}

// trv-maincolor-04-lighter
//
// Markup:
// <p class="trv-maincolor-04-lighter">trv-maincolor-04-lighter</p>
//
// Styleguide objects.trv-maincolor-04-lighter

.trv-maincolor-04-lighter {
    background-color: $trv-maincolor-04-lighter;
}

// trv-maincolor-04-very-light
//
// Markup:
// <p class="trv-maincolor-04-very-light">trv-maincolor-04-very-light</p>
//
// Styleguide objects.trv-maincolor-04-very-light

.trv-maincolor-04-very-light {
    background-color: $trv-maincolor-04-very-light;
}

// trv-maincolor-04-lightest
//
// Markup:
// <p class="trv-maincolor-04-lightest">trv-maincolor-04-lightest</p>
//
// Styleguide objects.trv-maincolor-04-lightest

.trv-maincolor-04-lightest {
    background-color: $trv-maincolor-04-lightest;
}

// trv-maincolor-05-light
//
// Markup:
// <p class="trv-maincolor-05-light">trv-maincolor-05-light</p>
//
// Styleguide objects.trv-maincolor-05-light

.trv-maincolor-05-light {
    background-color: $trv-maincolor-05-light;
}

// trv-maincolor-05-lighter
//
// Markup:
// <p class="trv-maincolor-05-lighter">trv-maincolor-05-lighter</p>
//
// Styleguide objects.trv-maincolor-05-lighter

.trv-maincolor-05-lighter {
    background-color: $trv-maincolor-05-lighter;
}

// trv-maincolor-05-very-light
//
// Markup:
// <p class="trv-maincolor-05-very-light">trv-maincolor-05-very-light</p>
//
// Styleguide objects.trv-maincolor-05-very-light

.trv-maincolor-05-very-light {
    background-color: $trv-maincolor-05-very-light;
}

// trv-maincolor-05-lightest
//
// Markup:
// <p class="trv-maincolor-05-lightest">trv-maincolor-05-lightest</p>
//
// Styleguide objects.trv-maincolor-05-lightest

.trv-maincolor-05-lightest {
    background-color: $trv-maincolor-05-lightest;
}

// trv-maincolor-01-dark
//
// Markup:
// <p class="trv-maincolor-01-dark">trv-maincolor-01-dark</p>
//
// Styleguide objects.trv-maincolor-01-dark

.trv-maincolor-01-dark {
    background-color: $trv-maincolor-01-dark;
}

// trv-maincolor-02-dark
//
// Markup:
// <p class="trv-maincolor-02-dark">trv-maincolor-02-dark</p>
//
// Styleguide objects.trv-maincolor-02-dark

.trv-maincolor-02-dark {
    background-color: $trv-maincolor-02-dark;
}

// trv-maincolor-03-dark
//
// Markup:
// <p class="trv-maincolor-03-dark">trv-maincolor-03-dark</p>
//
// Styleguide objects.trv-maincolor-03-dark

.trv-maincolor-03-dark {
    background-color: $trv-maincolor-03-dark;
}

// trv-maincolor-04-dark
//
// Markup:
// <p class="trv-maincolor-04-dark">trv-maincolor-04-dark</p>
//
// Styleguide objects.trv-maincolor-04-dark

.trv-maincolor-04-dark {
    background-color: $trv-maincolor-04-dark;
}

// trv-maincolor-05-dark
//
// Markup:
// <p class="trv-maincolor-05-dark">trv-maincolor-05-dark</p>
//
// Styleguide objects.trv-maincolor-05-dark

.trv-maincolor-05-dark {
    background-color: $trv-maincolor-05-dark;
}

// font-dark
//
// Markup:
// <p class="font-dark">font-dark</p>
//
// Styleguide objects.font-dark

.font-dark,
.gutter-box {
    color: $trv-maincolor-04;
}

// font-bright
//
// Markup:
// <p class="font-bright">font-bright</p>
//
// Styleguide objects.font-bright

.font-bright {
    color: $white;
}

// font-trv-maincolor-01
//
// Markup:
// <p class="font-trv-maincolor-01">font-trv-maincolor-01</p>
//
// Styleguide objects.font-trv-maincolor-01

.font-trv-maincolor-01 {
    color: $trv-maincolor-01;
}

// font-trv-maincolor-01-dark
//
// Markup:
// <p class="font-trv-maincolor-01-dark">font-trv-maincolor-01-dark</p>
//
// Styleguide objects.font-trv-maincolor-01-dark

.font-trv-maincolor-01-dark {
    color: $trv-maincolor-01-dark;
}

// font-trv-maincolor-02
//
// Markup:
// <p class="font-trv-maincolor-02">font-trv-maincolor-02</p>
//
// Styleguide objects.font-trv-maincolor-02

.font-trv-maincolor-02 {
    color: $trv-maincolor-02;
}

// font-trv-maincolor-02-dark
//
// Markup:
// <p class="font-trv-maincolor-02-dark">font-trv-maincolor-02-dark</p>
//
// Styleguide objects.font-trv-maincolor-02-dark

.font-trv-maincolor-02-dark {
    color: $trv-maincolor-02-dark;
}

// font-trv-maincolor-03
//
// Markup:
// <p class="font-trv-maincolor-03">font-trv-maincolor-03</p>
//
// Styleguide objects.font-trv-maincolor-03

.font-trv-maincolor-03 {
    color: $trv-maincolor-03;
}

// font-trv-maincolor-03-dark
//
// Markup:
// <p class="font-trv-maincolor-03-dark">font-trv-maincolor-03-dark</p>
//
// Styleguide objects.font-trv-maincolor-03-dark

.font-trv-maincolor-03-dark {
    color: $trv-maincolor-03-dark;
}

// font-trv-maincolor-04
//
// Markup:
// <p class="font-trv-maincolor-04">font-trv-maincolor-04</p>
//
// Styleguide objects.font-trv-maincolor-04

.font-trv-maincolor-04 {
    color: $trv-maincolor-04;
}

// font-trv-maincolor-04-light
//
// Markup:
// <p class="font-trv-maincolor-04-light">font-trv-maincolor-04-light</p>
//
// Styleguide objects.font-trv-maincolor-04-light

.font-trv-maincolor-04-light {
    color: $trv-maincolor-04-light;
}

// font-trv-maincolor-04-lighter
//
// Markup:
// <p class="font-trv-maincolor-04-lighter">font-trv-maincolor-04-lighter</p>
//
// Styleguide objects.font-trv-maincolor-04-lighter

.font-trv-maincolor-04-lighter {
    color: $trv-maincolor-04-lighter;
}

// font-trv-maincolor-04-dark
//
// Markup:
// <p class="font-trv-maincolor-04-dark">font-trv-maincolor-04-dark</p>
//
// Styleguide objects.font-trv-maincolor-04-dark

.font-trv-maincolor-04-dark {
    color: $trv-maincolor-04-dark;
}

// font-trv-maincolor-05
//
// Markup:
// <p class="font-trv-maincolor-05">font-trv-maincolor-05</p>
//
// Styleguide objects.font-trv-maincolor-05

.font-trv-maincolor-05 {
    color: $trv-maincolor-05;
}

// font-trv-maincolor-05-dark
//
// Markup:
// <p class="font-trv-maincolor-05-dark">font-trv-maincolor-05-dark</p>
//
// Styleguide objects.font-trv-maincolor-05-dark

.font-trv-maincolor-05-dark {
    color: $trv-maincolor-05-dark;
}
