/*
 * ## Buttons
 */
/// btn height big
/// @type string
/// @group buttons
$btn-height-big: 52px !default;
/// btn-height regular
/// @type string
/// @group buttons
$btn-height-regular: 44px !default;
/// btn-height small
/// @type string
/// @group buttons
$btn-height-small: 36px !default;
/// btn-height tiny
/// @type string
/// @group buttons
$btn-height-tiny: 24px !default;
