/*
 * # Form Elements
 */
/// input height regular
/// @type string
/// @group forms
$input-height-regular: 44px !default;
/// input height small
/// @type string
/// @group forms
$input-height-small: 36px !default;
/// label height
/// @type string
/// @group forms
$label-height: 19px;
