/*
 * # Navigation
 */
/// mainnavi height
/// @type string
/// @group navigation
$mainnavi-height: 48px !default;
/// mainnavi max height
/// @type string
/// @group navigation
$mainnavi-max-height: 400px !default;
/// mainnavi slideout width
/// @type string
/// @group navigation
$mainnavi-slideout-width: 82% !default;
/// navitem width
/// @type string
/// @group navigation
$navitem-width: 19% !default;
/// headersearch width
/// @type string
/// @group navigation
$headersearch-width: 22% !default;
