.hotel-item {
    $image-size-desktop: 278px !default;// Image size should not vary with the size of screen for desktop. So px is a good choice.

    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    display: flex;
    //flex-wrap: wrap;
    justify-content: space-between;
    font-size: $font-size-xxs;
    padding: $spacing * 2;

    @include respond-to-max($screen-tablet-wider){
        flex-direction: column;
    }

    &__image-container {
        //flex: 0 0 278px; //Let the sibling container manage flex box size
        margin: 0;

        &>img{
            @include respond-to-max($screen-tablet-wider){
                width: 100%;
            }
        }
    }

    &__details {
        flex: 0 0 calc(100% - #{$image-size-desktop} - #{$spacing * 3});
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 0 $spacing * 3;

        @include respond-to-max($screen-tablet-wider){
            margin: $spacing * 3 0 0 0 ;
        }
    }

    &__hotel-name {
        margin: 0;
    }

    &__rating {
        margin: 0;
    }

    &__footer {
        display: flex;
        //justify-content: flex-end;
        //align-content: flex-end;
        justify-content: space-between;//Aligning the prices to the left for better visual consistency
        align-items: flex-end;

        @include respond-to-max($screen-tablet-wider){
            margin: $spacing * 3 0 0 0 ;
        }

        @include respond-to-max($screen-tablet){
            align-items: flex-start;
            flex-direction: column;
        }
    }

    &__deals {
        display: flex;
        //margin-right: $spacing * 3;
        //text-align: right;
    }

    &__deal {
        line-height: $line-height-small;
        margin: 0 $spacing * 3 0 0 ;

        &--high {
            color: $trv-maincolor-04-lighter;
        }
    }

    &__price {
        margin: 0;
        font-size: $font-size-s;

        &--high {
            color: $trv-maincolor-03;
            text-decoration: line-through;
        }

        &--best {
            color: $trv-maincolor-05;
            //font-size: $font-size-s;
            font-weight: bold;
        }
    }

    &__co{
        @include respond-to-max($screen-tablet){
            align-self: stretch;
            margin-top: $spacing * 5;
        }
    }

    &__cta {
        margin: 0;

        .svg-color--primary {
            stroke: $white;
        }
    }
}
