<div role="main">
    <div class="centerwrapper" role="article">
        <ul class="hotel-list">
            {% for item in items %}
                <li class="hotel-item-wrapper" key="item{{loop.index}}">
                    {% mount '../item' as 'item#{loop.index}' with {
                        item: item
                    } %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
