/// outline
///
/// Creates an outline on element focus
///
/// @group focus
/// @param {String} $colour [#37454d] - colour hex code of outline
/// @output `outline`
@mixin outline($colour: $trv-maincolor-04) {
    &:focus {
        // Set as solid when outline-offset is not supported for consistency
        outline: 1px solid rgba($colour, $opacity-medium);

        @supports (outline-offset: 0) {
            outline: 1px dotted $colour;
            outline-offset: 0;
        }
    }
}

/// outline-inset
///
/// Creates an inset outline on element focus
///
/// @group focus
/// @param {String} $colour [#37454d] - colour hex code of outline
/// @param {String} $borderColour [#fff] - colour hex code of fallback border
/// @output `outline`
@mixin outline-inset($colour: $trv-maincolor-04, $borderColour: $white) {
    &:focus {
        outline: none;
        box-shadow: 0 0 0 1px $borderColour inset,
            0 0 0 2px rgba($colour, $opacity-medium) inset;

        @supports (outline-offset: 0) {
            outline: 1px dotted $colour;
            outline-offset: -3px;
            box-shadow: none;
        }
    }
}
