/// visuallyhidden: Hide only visually, but have it available for screenreaders
///
/// @group various
///
/// @example scss - Usage
///   .foo {
///     @include visuallyhidden
///   }
///
/// @example scss - output
///   .foo { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; white-space: nowrap; /* 1 */ }
///

@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}
